body {
    background-image: url("../images/grass.jpg");
    background-position: auto;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.startGame {
    margin-top: 100px;
    border: 3px black solid;
    background-color: rgba(255, 255, 255, 0.5);
}

.container { 
    margin-top: 100px;
}

.row {
    border: 1px black solid;
    background-color: rgba(255, 255, 255, .5);
}

h1 { 
    text-align: center;
    font-family: 'Chela One', cursive;
    font-size: 50px;
    margin-bottom: 20px;
}

p { 
    text-align: center;
    font-family: 'Chela One', cursive;
    font-size: 30px;
}

#start-btn {
    text-align: center;
    background-color: green;
    border-color: black;
    margin-top: 8px;
    margin-bottom: 10px;
}

#triviaGame {
    display: none;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 3px black solid;
    background-color: rgba(255, 255, 255, 0.5);
}

#QandA {
    font-family: 'Chela One', cursive;
    font-size: 35px;
    margin: 5px;
}

.answers {
    color: black;

}

#submit-btn {
    text-align: center;
    background-color: green;
    border-color: black;
    margin-top: 8px;
    margin-bottom: 10px;
}

#timer {
    text-align: center;
    font-size: 40px;
    color: rgb(20, 20, 172);
}

#noTime {
    display: none;
    margin-top: 100px;
    border: 3px black solid;
    background-color: rgba(255, 255, 255, 0.5);
}

#scoreScreen {
        display: none;
        margin-top: 100px;
        border: 3px black solid;
        background-color: rgba(255, 255, 255, 0.5);
}

#restart-btn {
    text-align: center;
    background-color: green;
    border-color: black;
    margin-top: 8px;
    margin-bottom: 10px;
}

label {
    color: rgb(20, 20, 172);
    padding: 10px;
    margin-top: 8px;
}

.myGiphy {
    text-align: center;
}
